<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "category" %>
<%= stylesheet_link_tag "expense" %>

<%= render "layouts/nav_bar", {prev_path: nil, title: 'expense ' + @expense.name, from_form: false, next_path: categories_path, next_text: 'search' } %>

<div class="expense-header">
    <span><%= @expense.name %></span>
    <span class="total">$<%= @expense.amount %></span>
</div>

<p><%= expense.description %></p>