<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "category" %>

<%= render "layouts/nav_bar", {prev_path: root_path, title: 'categories', from_form: false, next_path: categories_path, next_text: 'search' } %>

<div class="categories">
    <% if @categories.count > 0 %>
        <% @categories.each do |category| %>
            <%= render category %>
        <% end %>
    <% else %>
        <small> No categories added, <%= link_to "click", new_category_path, class: 'clear-button' %> to add.
    <% end %>
</div>