<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "side_bar" %>

<div class="nav-bar" id="navbar">
    <% if prev_path %>
        <%= back_button(prev_path) %>
    <% else %>
        <%= menu_button %>
    <% end %>
    <span><%= title %></span>
    <% if from_form %>
        <%= right_submit_button(form, submit_text) %>
    <% else %>
        <%= right_button(next_path) %>
    <% end %>
</div>