<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "nav_bar" %>

<div class="nav-bar">
    <%= back_button(prev_path) %>
    <span><%= title %></span>
    <%= right_button(next_path, next_text) %>
</div>