<div id="sidebar">
    <div class="avatar-div">
        <%= image_tag current_user.photo.url if current_user.photo.present? %>
        <%= image_tag('default-avatar.png') unless current_user.photo.present? %>
        <span><%= current_user.name %>
    </div>
    <div class="menu-div">
        <%= link_to raw("<i class='las la-layer-group'></i> <span>Categories</span>"), categories_path %>
        <%= link_to raw("<i class='las la-wallet'></i> <span>Expenses</span>"), categories_path %>
        <%= link_to raw("<i class='las la-user'></i> <span>Profile</span>"), profile_path %>
        <%= link_to raw("<i class='las la-sign-out-alt'></i> <span>Logout</span>"), logout_path %>
    </div>
</div>